development:
  adapter: sqlite3
  database: db/ccc_privacy_crawler_development.db

test:
  adapter: sqlite3
  database: db/ccc_privacy_crawler_test.db

production:
  adapter: sqlite3
  database: db/ccc_privacy_crawler_production.db
